@font-face {
    font-family: 'grotesk';
    src: url('../fonts/alte-haas-grotesk.regular.ttf');
}

@font-face {
    font-family: 'grotesk-b';
    src: url('../fonts/alte-haas-grotesk.bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'grotesk', Arial;
    color: #1c1c1c;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s, background-color 0.5s;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #333;
    font-family: "grotesk-b";
}

.navbar .logo {
    width: 120px;

}

.navbar nav ul {
    padding-left: 30px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar nav ul li a {
    color: #f5f5dc;
    text-decoration: none;
    font-size: 18px;
}

/* Footer */
.page-footer {
    padding: 10px 20px;
    background-color: #f4f2ec; /* Light background */
    text-align: center;
    color: #776352; /* Dark brown text */
    font-size: 14px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.footer-nav {
    display: flex;
    gap: 20px;
}

.footer-nav a {
    color: #776352;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #2c2217; /* Darker color on hover */
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    display: inline-block;
    font-size: 20px;
    color: #4a3b2f;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.social-icon:hover {
    background-color: #4a3b2f; /* Dark background */
    color: #f4f2ec; /* Light text */
}

.click-button {
    padding: 8px 25px;
    font-size: 14px;
    background-color: #f4f2ec; /* Red button */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.click-button:hover {
    background-color: #c0392b; /* Darker red on hover */
}

/* Menu button */
.menu-toggle {
    display: none;
    margin: 10px;
    background: none;
    border: none;
    font-size: 28px;
    color: #f5f5dc;
    cursor: pointer;
    z-index: 1001;
}

/* Media Query for mobile devices */
@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
        flex-direction: row;
        align-items: flex-start;
    }
    

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust this to the navbar height */
        left: 0;
        padding: 10px 0;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin: 0;
    }

    .menu-toggle {
        display: block;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .social-icons {
        justify-content: center;
    }
}

/* Show navbar links when active */
.nav-links.active {
    display: flex;
}

/* Media Query for iPad-sized devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        padding: 15px 15px;
        width: 100vw;
    }

    .navbar nav ul {
        gap: 15px;
    }

    .footer-content {
        flex-direction: row;
        gap: 20px;
    }

    .social-icons {
        justify-content: flex-start;
    }
}